/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	Post Reset CSS
	^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*/

/* Box Model Hack */
* {
	box-sizing: border-box;
}
  
img {
	width: 100%;
}
body{
	margin: 2% 15%;
	background: #b6b6b6;
}
html{
	font-size: 62.5%;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex{
	display: flex;
}



/* ---------- Main CSS --------*/



h1 {
	text-align: center;
	font-size: 4rem;
	padding: 1%;
}
#btn:hover {
	cursor: pointer;
	background: #00000090;
}
p {
	text-align: center;
	font-size: 2rem;
	margin: 5% 20%;
}
p:nth-of-type(2){
	padding: 2%;
	margin: 2% 0;
	background: black;
	color: white;
	border-radius: 5px;
}
img{
	margin: auto;
	border-radius: 5px;
	filter: saturate(100%);
}
ul{
	flex-flow: row wrap;
	font-size: 1.5rem;
	width: 100%;
	justify-content: space-evenly;
	padding: 2% 0; 
}
ul li:hover {
	cursor: pointer;
}